# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
*.log

# Node
node_modules/
npm-debug.log
yarn-error.log

# IDEs
.vscode/
.idea/

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project specific
working/
.env
*.sqlite3

# Frontend build
frontend/build/

# Backend
backend/*.db
